.product-in-basket {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.product-in-basket .card-custom {
    background-color: #545454;
    width:100%;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}

.product-in-basket img {
    width: 9rem;
}

.product-in-basket .card .price {
    color: white;
}

.product-in-basket .card-custom-body {
    margin: 10px;
    width: 100%;
}

.quantity-btn {
    display: flex;
    align-items:baseline;
    background-color: #ababab;
    color: black;
    border-radius: 10px;
}

.delete-btn {
    margin-top: 75px;
}