/* Styles du composant ProductList */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-list .card {
    background-color: #272727;
    margin: 1rem 0;
    width:22rem;
}
.product-list .card h6 {
    text-align: center;
    color: #4888DD;
}

.product-list .card .price {
    color: white;
    margin-bottom: 2rem;
}

.product-list .card .card-body {
    display: grid;
}