.product-in-bar {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.product-in-bar .card-custom {
    width:100%;
    padding: 10px 10px 10px 10px;
}

.product-in-bar img {
    width: 3rem;
}

.product-in-bar .card-custom-body {
    margin: 5px;
    width: 100%;
}

.price-in-bar {
    margin-left: 15px;
}
