* {
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: white;

    overflow-y: scroll;

    margin-top: 6rem;
}

h1 {
    text-align: center;
    margin: 2rem 0 1rem;
    letter-spacing: 0.2rem;
}

h2 {
    margin: 2rem 0;
}
