.wrapper {
    display: flex;
    width: 100%;
}

#basketbar-bg {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    position: fixed;
    top: 70px;
    right: 0;
    z-index: 750;
}

#basketbar {
    width: 300px;
    position: fixed;
    top: 70px;
    right: 0;
    height: 100vh;
    z-index: 1000;
    background-color: #272727;
    color: #fff;

    text-align: center;

    border-left: rgba(255, 255, 255, 0.5) solid;
}

#basketbar button {
    margin-bottom: 1rem;
}

#basketbar .basketbar-part {
    border-bottom: rgba(255, 255, 255, 0.5) solid;
    margin-bottom: 15px;
}