nav.navbar {
    background-color: #272727;
    color: white;

    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 70px;
    z-index: 1000;
    border-bottom: rgba(255, 255, 255, 0.5) solid;
}

a, a:visited, a:hover, a:active{
    color: inherit;
}

.title-noashop {
    font-size: 1.5rem;
    font-weight: bold;
}

