#sidebar {
    padding-top: 15px;
    width: 190px;
    position: fixed;
    top: 70px;
    left: 0;
    height: 100vh;
    z-index: 500;
    background-color: #272727;
    color: #fff;

    text-align: center;

    border-right: rgba(255, 255, 255, 0.5) solid;

}

#sidebar .filter-sidebar {
    border-bottom: rgba(255, 255, 255, 0.5) solid;
    margin-bottom: 15px;
}

#sidebar button {
    margin-bottom: 1rem;
}


@media screen and (max-width: 767px) {
    #sidebar {
        display: none;
    }
}