.products-in-basket {
    background-color: #272727;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
}

.basket-voucher {
    background-color: #272727;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.basket-voucher input {
    margin-right: 15px;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

.waiting {
    display: flex;
    height: 158px;
    justify-content: center;
    align-items: center;
}
